[user]
	signingkey = 78F005204C3C195B52DFE95920AD5720119E485E
	email = kedap.dev@protonmail.com
	name = Kedap

[commit]
	gpgsign = true


[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
        primero = rev-list --max-parents=0 HEAD
	hub = !hub

[diff]
        tool = nvimdiff
